.contaner {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

img {
  width: 100%;
}
